/* CSS Document */

header{width:100%; height: 1.76rem; background:#fff;text-align:center; line-height:1.76rem;  cursor:pointer; font-size:0.6rem}
.fixed{position:fixed; z-index:1000}
.goback{ border-color:#a7afc2; border-width:0.02rem 0.02rem 0 0; width:0.6rem; height:0.6rem; border-style:solid; transform:rotate(-135deg); position:absolute; left:0.6rem; top:0.5rem}
.detail_nav{ display:inline-block}
.detail_nav li{ float:left; color:#a7afc2; margin:0 1rem}
.detail_nav .on{color:#579de7; border-bottom:0.04rem solid #579de7}
a.mes{font-size:0.6rem; color:#a7afc2; position:absolute;right:0.6rem; top:0.05rem}
a.cart{ color:#a7afc2; font-size:0.8rem; position:absolute; right:1.6rem}

.detail_con{ display:none}
.detail_con_on{ display:block}
/*切换1*/
.banner{ width:100%;  position:relative; height:auto}
.heart{position:absolute; width:1.5rem; height:1.5rem; background: rgba(0,0,0,0.1); bottom:1rem; right:1rem; z-index:1000; border-radius:0.75rem; padding:0.15rem}
.heart i{ width:1.2rem; height:1.2rem; border-radius:0.75rem; display:block; background: url(../images/heart.png) no-repeat; background-size:contain;}
.slideBox{ position:relative; overflow:hidden; margin:0px auto;  max-width:15rem;/* 设置焦点图最大宽度 */ }
.slideBox .hd{ position:absolute; height:28px; line-height:28px; bottom:0.1rem;transform:translate(-50%,0);  left:50%; z-index:1;  }
.slideBox .hd li{ display:inline-block; width:0.4rem; height:0.4rem; -webkit-border-radius:50%; -moz-border-radius:50%; border-radius:50%;  background: rgba(0,0,0,0.2); text-indent:-9999px; overflow:hidden; margin:0 0.12rem;/* box-shadow:0 1px 4px #666; */ cursor:pointer}
.slideBox .hd li.on{/* background:linear-gradient(#C00, #fff);*/ background: rgba(255,255,255,1)   }
.slideBox .bd{ position:relative; z-index:0; }
.slideBox .bd li{ position:relative; text-align:center;  }
.slideBox .bd li img{ background:url(images/loading.gif) center center no-repeat;  vertical-align:top; width:100%;/* 图片宽度100%，达到自适应效果 */}
.slideBox .bd li a{ -webkit-tap-highlight-color:rgba(0,0,0,0);  }  /* 去掉链接触摸高亮 */


.floor{ margin-top:0.4rem; width:100%; padding:0 0.4rem;background:rgba(255,255,255,1);border-bottom:0.02rem solid #f2f2f2;border_top:0.02rem solid #f2f2f2;}
.floor_frist{ margin-top:0;}
.price{ width:100%; height:8rem; }
.price h2{ display:inline-block; border-bottom:0.02rem solid #f2f2f2; width:100%; height:2rem; line-height:2rem; color:#fe4979; font-weight:normal; font-size:1rem}
.price h2 span{ font-size:0.5rem}
.price .brand{ height:4rem; border-bottom:0.02rem solid #f2f2f2; width:100%; font-size:0.5rem; line-height:1rem; padding:0.4rem 0}
.price .brand span{ display:block; font-size:0.3rem; color:#a7afc2}
.price .brand span a{ display:inline-block; margin-left:0.3rem; text-decoration:underline; color:#579de7}
.price .manjian{ width:100%; height:2rem; line-height:2rem; position:relative}
.little_title{ font-size:0.3rem; color:#a7afc2; margin-right:0.6rem}
.price .manjian em{ font-style:normal; font-size:0.3rem; display:inline-block; color:#fe4979; border:0.02rem solid #fe4979; line-height:0.8rem; padding:0 0.2rem; border-radius:0.12rem}
.little_arrow{width:0.35rem; height:0.35rem; border-top:0.02rem solid #a7afc2;border-right:0.02rem solid #a7afc2; transform:rotate(45deg); position: absolute; right:0.1rem; top:0.8rem}
.sel{ width:100%; height:2rem; line-height:2rem; position:relative}
.sel em{ font-style:normal}

.address{ width:100%; height:2rem; position:relative; line-height:1rem}
.address em{ font-style:normal; font-size:0.5rem}
.address b{ display:block; margin-left:1.9rem; font-weight:normal; color:#a7afc2; font-size:0.3rem}
.address_g{height:2rem; width:100%; line-height:2rem; position:relative}
.address_g li{float:left; font-size:0.3rem; margin-right:0.6rem;}
.address_g li img{ width:0.5rem; height:0.5rem; display:inline-block; margin-right:0.1rem;}

.comment{ width:100%;}
.comment h2{ width:100%; height:2rem; line-height:2rem;border-bottom:0.02rem solid #f2f2f2; font-weight:normal; font-size:0.5rem; position:relative;}
.comment h2 span{ display:inline-block; margin-left:7rem; color:#a7afc2}
.user_comment li{ border-bottom:0.02rem solid #f2f2f2; height:8rem; font-size:0.5rem; width:100% }
.user_comment li p{color:#fe4979; position:relative; line-height:2rem}
.user_comment li p span{ position:absolute; color:#a7afc2; right:0; font-size:0.3rem}
.user_comment li .text{ width:100%; font-size:0.5rem}
.user_comment li .show_pic{ width:100%; height:3rem; margin-top:0.5rem}
.user_comment li .show_pic img{ width:3rem; height:3rem; float:left; margin-right:0.5rem; border:0.02rem solid #f2f2f2}

.store{ width:100%;}
.store_name{ width:100%; height:2rem; line-height:2rem; position:relative}
.store_name img{ width:2rem; height:2rem; float:left; margin-right:0.6rem}
.store_name p{ font-size:0.5rem; float:left}
.store_name span{ width:3rem; height:1.5rem; line-height:1.5rem; color:#a7afc2; font-size:0.5rem; border:0.02rem solid #f2f2f2; position:absolute; right:0; top:0.25rem; display:block; text-align:center; border-radius:0.12rem}
.store_num{ height:2.5rem; width:100%; border-bottom:0.02rem solid #f2f2f2; padding:0.3rem 0;}
.store_num li{ width:33.3%; float:left; text-align: center; font-size:0.5rem; line-height:1rem}
.store_num li span{ color:#a7afc2; font-size:0.3rem}
.store_goods{ width:100%; padding:0.5rem 0;}

.picScroll .bd li{ width:50%; float:left;text-align:center; background:#fff;padding:0.8rem 1.1rem 1.2rem 1.1rem; margin-right:0;height:10rem; overflow:hidden}

 .picScroll .bd li a{-webkit-tap-highlight-color:rgba(0, 0, 0, 0); /* 取消链接高亮 */ }
 .picScroll .bd li img{ width:80%;background:url(images/loading.gif) #fff center center no-repeat; margin:0 auto}
 .picScroll .hd{ display:none}
 .picScroll .bd li p{ text-overflow:ellipsis; overflow:hidden;display:-webkit-inline-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;word-break:break-all; font-size:0.4rem; color:#394050; margin-top:0.5rem;} .picScroll .bd li span{display:block; color:rgba(48,64,80,.4); font-size:0.4rem; margin-top:0.8rem;}
 .picScroll .bd li i{ font-style:normal; color:#579de7;font-size:0.4rem;}
 .picScroll .bd li i em{font-style:normal; display:inline-block;font-size:0.4rem; 
background:#ed5f86; color:#fff; padding:1px ; border-radius:0.1rem; margin-right:0.2rem; }
 .picScroll .bd .more2{border:1px solid #f2f2f2;}
 .picScroll .bd .more2 h2{ font-size:0.8rem; color:#394050; position:relative; top:2.5rem;}
 .picScroll .bd .more2 p{font-size:0.5rem; position:relative; top:2.8rem;}
.continue{width:100%; height:2rem; line-height:2rem; text-align:center; font-size:0.5rem; margin-bottom:2.15rem}

/*底部*/
.foot_tab_box{width:100%; height:2.15rem; background:rgba(255,255,255,1); position:fixed; bottom:0; left:0; z-index:1000; text-align:center; line-height:2.15rem; font-size:0.5rem; border-top:0.02rem solid #f2f2f2}
.goods_price{ width:50%; float:left}
.goods_price p{ width:75%; float:left}
.goods_price p span{ color:#579de7;}
.goods_price .goods_c{ width:25%; height:2.15rem; float:right; border-left:0.02rem solid #f2f2f2; padding:0.1rem 0; position:relative }
.goods_price .goods_c img{ width:1.2rem; margin:0 auto}
.goods_price .goods_c p{ line-height:0.55rem;font-size:0.3rem; position:absolute; left:0.2rem; bottom:0.2rem;color:#a7afc2}
.buy{width:50%; float:right;}
.buy span{ width:50%; height:2.15rem; background: rgba(87,157,231,0.9); display:inline-block; float:left; color:#fff}
.buy span:last-child{ background:#579de7}

.gobacktop{ position:absolute; width:1.5rem; height:1.5rem;  top:-3rem; right:0.4rem; background-color: rgba(255,255,255,0.5); border-radius:0.75rem; display:none}
.gobacktop i{ width:100%; height:100%; background: url(../images/gobacktop2.png) no-repeat center center; display:block; border-radius:0.75rem; background-size:contain}


/*切换3*/
.estimate{ width:100%; height:2.5rem; background:#fff; padding:0.75rem 0.4rem;}
.estimate li{float:left; width:5rem; height:1rem; background:#f2f2f2; color:#a7afc2; text-align:center; margin-right:0.5rem; border-radius:0.12rem; line-height:1rem;}
.estimate .estimate_on{ background: rgba(0,153,255,0.1); color:#579de7}
.pj{ display:none}
.estimate_pic{ display:block}
.user_comment1{ padding:0 0.4rem; background:#fff;}
.user_comment1 li{ height:10rem;}
.user_comment1 li .use_mes{ width:100%; height:2rem; line-height:2rem}
.user_comment1 li .user_pho{ width:1.8rem; float:left; margin-right:0.5rem; margin-top:0.2rem}
.user_comment1 li .user_name{ color:#a7afc2; }
.user_comment1 li .user_date{ color:#a7afc2; float:right}
.user_comment1 li p{ display:block}
.user_comment1 li:last-child{ margin-bottom:2.15rem}



/*切换2*/
.goods_d{ width:100%;height:2.5rem; background:#fff; line-height:2.4rem ; padding: 0 0.4rem; border-bottom:0.02rem solid #f2f2f2;}
.goods_d li{width:30%; color:#a7afc2; display:inline-block; text-align:center; font-size:0.5rem}
.goods_d li.goods_d_on{ border-bottom:0.08rem solid #579de7 ; color:#579de7}
.goods_g{ display:none; margin-bottom:2.15rem}
.goods_g_on{ display:block}

/*切换2 第1部分*/
.picture{width:100%; padding:1rem 0.4rem; background:#fff;}
.picture img{ width:100%}
/*切换2 第二部分*/
.mes_table{ width:100%; padding:1rem 0.4rem; background:#fff;}
.mes_table table{border:0.02rem solid #f2f2f2; border-collapse:collapse; width:100%}

.mes_table table td{ border:0.02rem solid #f2f2f2; height:1.5rem;}

.mes_table table td.hh{ width:30%; text-align:right; padding-right:0.4rem;}
.mes_table table td.aa{ text-align:center}
.mes_table table td.ll{ width:70%;  padding-left:0.4rem; color:#a7afc2}
.mes_table table td.bb{background:rgba(102,102,51,0.5);}





