
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1492673620751'); /* IE9*/
  src: url('iconfont.eot?t=1492673620751#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1492673620751') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1492673620751') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1492673620751#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fenlei:before { content: "\e633"; }

.icon-gouwuche:before { content: "\e6f0"; }

.icon-wo:before { content: "\e60f"; }

.icon-xiaoxi:before { content: "\e65b"; }

.icon-fenlei1:before { content: "\e651"; }

.icon-money:before { content: "\e662"; }

.icon-qianbao:before { content: "\e610"; }

.icon-sousuo-sousuo:before { content: "\e8e0"; }

.icon-shouye-shouye:before { content: "\e600"; }

