/* CSS Document */

/*header*/
header{ width:100%; height:114px; border-top:5px solid #1f8fcf;}
header .header{ width:1200px; height:100%; margin:0 auto;}
					/*logo*/
header .header h1{ width:199px; height:57px; float:left; margin-top:21px;}
header .header h1 a{ width:100%; height:100%; display:block;}
header .header h1 a img{ width:100%; height:auto; overflow:hidden;}
					/*nav*/
header .header nav{ width:755px; height:100%; float:right;}
header .header nav ul{ width:100%; height:100%;}
header .header nav ul li{ height:100%;float:left;text-align:center;}
header .header nav ul li .a1{ font-size:16px;padding:35px 24px; color:#000;display:block}
header .header nav ul li .a1 span{ font-size:12px; color:#666; display:block}
header .header nav ul li:nth-child(6) .a1{ background:#1f8fcf;color:#FFF}
header .header nav ul li:nth-child(6) .a1 span{ color:#FFF}
					/*二级导航*/
header .header nav ul li .subnav {border-top:1px solid #000;width:100%; height:auto;background:#1f8fcf;padding:12px; display:none}
header .header nav ul li .subnav p{ width:100%; height:100%;line-height:30px;}
header .header nav ul li .subnav p a{ color:#FFF}
					/*hover*/
header .header nav ul li .a1:hover{background:#1f8fcf; color:#FFF}
header .header nav ul li .a1:hover span{ color:#FFF}
header .header nav ul li:hover .subnav{ display:block}
header .header nav ul li .subnav p:hover a{ color:#FF0; text-decoration:underline} 
/*header  end*/
					/*banner*/
.banner{ width:100%; height:300px;background:url(../images/careers_bg.jpg) no-repeat center top;}/*banner*/

/*section13*/
.section13{width:100%; height:841px;overflow:hidden;background:url(../images/bg.jpg) no-repeat center top}
					/*section13_tit*/
.section13 .section13_tit{width: 500px;height:100px;margin:28px auto 20px auto;background:url(../images/bg-line.png) no-repeat center 60px; text-align:center;} 
.section13 .section13_tit .Ch{font-size: 26px;color:#000;}
.section13 .section13_tit .En{font-size: 16px;color: #666;font-family: "Comic Sans MS";}  
					/*section13_bot*/					
.section13 .section13_main{ width:1200px; height:260px;margin:0 auto;}
.section13 .section13_main ul{ width:1200px; height:100%; box-shadow:0px 0px 2px 2px #e0e0e0}
.section13 .section13_main ul li{ width:100%; height:50px; line-height:50px; }
.section13 .section13_main ul li:first-child{ background:#1f8fcf; color:#FFF;}
.section13 .section13_main ul li:first-child .left{font-size:15px}
.section13 .section13_main ul li:first-child .right p{font-size:15px}
.section13 .section13_main ul li .left{ width:50%; height:100%; float:left; text-indent:50px;}
.section13 .section13_main ul li .left a{ font-size:12px;}
.section13 .section13_main ul li .right{ width:50%; height:100%; float:left}
.section13 .section13_main ul li .right p{ width:150px; height:100%; float:left; text-align:center; font-size:12px;}
.section13 .section13_main ul li .left a:hover{ color:#1f8fcf}

.section13 .section13_bot{width:100%; height:960px;overflow:hidden; }					
.section13 .section13_bot .bot_tit{width: 500px;height:80px;margin:50px auto 35px auto;text-align:center; } 
.section13 .section13_bot .bot_tit .Ch{font-size: 30px;color:#000;}
.section13 .section13_bot .bot_tit .En{color:#1f8fcf;font-size: 20px;}
.section13 .section13_bot .bot_tit:after{ content:""; width:60px; height:2px; background:#1f8fcf; display:block; margin:8px auto 0}
.section13 .section13_bot .pic{width:1200px; height:170px; margin:0 auto; overflow:hidden}					
.section13 .section13_bot .pic img{ width:100%; height:auto} 

/*section13  end*/

/*section14*/
.section14{ width:100%; height:400px; background:url(../images/bg-question.jpg) center top;}

.section14 .section14_tit{width:1200px; height:60px; margin:0 auto}
.section14 .section14_tit span{width:8px;height:22px;background: #ffc400; display: block;float: left;margin-right: 8px;}
.section14 .section14_tit h3{color: #000;font-size: 18px;font-weight: bold;}

.section14 .section14_bot{ width:1200px; height:300px; margin:0 auto}
.section14 .section14_bot ul{ width:100%; height:100%; }
.section14 .section14_bot ul li{ width:100%; height:80px; margin-bottom:25px;}
.section14 .section14_bot ul li .wen{ height:28px;color: #000;font-size: 16px;font-weight: bold; background:url(../images/wen.png) no-repeat left top;padding-left:35px}
.section14 .section14_bot ul li .da{ height:50px;color: #000;font-size: 16px; background:url(../images/da.png) no-repeat left top;padding-left:35px; margin-top:10px;}
/*section14 end*/

/*section15*/
.section15{ width:100%; height:685px; background:url(../images/bg-address.png) no-repeat center top; overflow:hidden}					
.section15 .section15_tit{width:500px;height:80px;margin:50px auto 29px auto;text-align:center; } 
.section15 .section15_tit .Ch{font-size: 30px;color:#000;}
.section15 .section15_tit .En{color:#1f8fcf;font-size: 20px;}
.section15 .section15_tit:after{ content:""; width:60px; height:2px; background:#1f8fcf; display:block; margin:8px auto 0}

.section15 .section15_bot{ width:1200px; height:414px; margin:0 auto;}
/*设置地图*/
 .iw_poi_title {color:#CC5522;font-size:14px;font-weight:bold;overflow:hidden;padding-right:13px;white-space:nowrap}
 .iw_poi_content {font:12px arial,sans-serif;overflow:visible;padding-top:4px;white-space:-moz-pre-wrap;word-wrap:break-word}

.section15 .section15_bot .bot_r{ width:340px; height:320px; float:right; margin-top:40px }
.section15 .section15_bot .bot_r .r_tit{ width:100%; height:40px;}
.section15 .section15_bot .bot_r .r_tit .Ch{ width:110px; height:40px;color: #1c1c1c;font-size: 25px; float:left}
.section15 .section15_bot .bot_r .r_tit .En{ width:220px; height:30px;color: #999; margin-left:10px; float:right; padding-top:5px; background:url(../images/xie.jpg) repeat-x  left bottom}

.section15 .section15_bot .bot_r .r_main{ width:300px; height:180px;}
.section15 .section15_bot .bot_r .r_main ul{ width:100%; height:100%; margin-top:20px}
.section15 .section15_bot .bot_r .r_main ul li{ width:100%; height:45px; line-height:45px; border-bottom:1px dashed #e1e1e1; padding-left:40px; color:#666; background:url(../images/li-1.png) no-repeat left center}
.section15 .section15_bot .bot_r .r_main ul li:nth-child(2){background:url(../images/li-2.png) no-repeat left center}
.section15 .section15_bot .bot_r .r_main ul li:nth-child(3){background:url(../images/li-3.png) no-repeat left center}
.section15 .section15_bot .bot_r .r_main ul li:nth-child(4){background:url(../images/li-4.png) no-repeat left center}

.section15 .section15_bot .bot_r .r_bot{ width:300px; height:100px; }
.section15 .section15_bot .bot_r .r_bot .qq{ width:100px; height:100%;background:url(../images/f-1.png) no-repeat center;display:block; float:left}
.section15 .section15_bot .bot_r .r_bot .wx{width:100px; height:100%;background:url(../images/f-2.png) no-repeat center;display:block;float:left}
.section15 .section15_bot .bot_r .r_bot .fx{width:100px; height:100%;background:url(../images/f-3.png) no-repeat center; display:block;float:left}

/*section15  end*/

					

/*footer*/
footer{ width:100%; height:395px; float:left}
footer .foot{ width:100%; height:260px; background:#313132}
footer .foot .foot_top{ width:1200px; height:100%; margin:0 auto;}
footer .foot .foot_top .top_l{ width:200px; height:100%; border:1px solid #282828; float:left}
footer .foot .foot_top .top_l a{ width:100%; height:100%; display:block; background:url(../images/logo-foot.png) no-repeat center}

footer .foot .foot_top .top_main{ width:800px; height:260px; float:left}
footer .foot .foot_top .top_main ul{ width:100%; height:100%}
footer .foot .foot_top .top_main ul li{ width:200px; height:100%; border-right:1px solid #282828; float:left; padding-top:48px; text-align:center}
footer .foot .foot_top .top_main ul li:nth-child(1) h4{ background:url(../images/foot-1.png) no-repeat 40px center}
footer .foot .foot_top .top_main ul li:nth-child(2) h4{ background:url(../images/foot-2.png) no-repeat 40px center}
footer .foot .foot_top .top_main ul li:nth-child(3) h4{ background:url(../images/foot-3.png) no-repeat 40px center}
footer .foot .foot_top .top_main ul li:nth-child(4) h4{ background:url(../images/foot-4.png) no-repeat 40px center}
footer .foot .foot_top .top_main ul li h4{ width:100%; height:40px;font-size:16px; color:#838384;line-height:40px}
footer .foot .foot_top .top_main ul li p{ line-height:25px}
footer .foot .foot_top .top_main ul li p a{font-size:12px; color:#FFF}
footer .foot .foot_top .top_main ul li img{ display:block; margin:0 auto; margin-top:10px}

footer .foot .foot_top .top_r{ width:200px; height:260px;border-right:1px solid #282828; float:left;padding-top:48px; text-align:center}
footer .foot .foot_top .top_r h4{width:100%; height:40px;font-size:16px; color:#838384;line-height:40px;background:url(../images/foot-5.png) no-repeat 40px center}
footer .foot .foot_top .top_r p{font-size:23px; color:#f2bf12; line-height:30px}
footer .foot .foot_top .top_r time{font-size:12px; color:#FFF}
footer .foot .foot_top .top_r p a{ padding:12px 20px; padding-left:40px;background:#067dc1 url(../images/kf.png) no-repeat 20px center; color:#FFF;margin-top:20px; line-height:90px; border-radius:5px; box-shadow:0px 2px 0px 1px #07407a}
					
footer .foot_bot{ width:100%; height:135px; background:#282828; padding-top:32px}
footer .foot_bot p{color: #888;font-size: 12px; text-align:center}
footer .foot_bot .pic{ width:1200px;height:41px; margin:0 auto;text-align:center; margin-top:20px}
footer .foot_bot .pic a{}
footer .foot_bot img{ width:105px; height:auto; margin:0 10px}
					/*hover*/
footer .foot .foot_top .top_main ul li p a:hover{ color:#ffbf23}
footer .foot .foot_top .top_r p a:hover{background:#ffbf23 url(../images/kf.png) no-repeat 20px center;box-shadow:0px 2px 0px 1px #936616}
/*footer  end*/

					