*{
	margin: 0;
	padding: 0;

}
a{
	text-decoration: none;
	color: #fff
}
li{list-style: none;}
#menu   img{width: 193px;height: 80px;position:absolute; top:0px;left: 150px}
#menu {position: fixed; list-style-type: none; z-index: 70;width: 100%;background:#fff;
	height: 80px;padding-left: 350px;}
#menu li { float: left; margin:  20px 20px 0 0; font-size: 14px; }
#menu a { float: left; padding: 10px 20px; background-color: #fff; color:#684029; border-radius: 15px;}
#menu a:hover{ color: #BB9772; background-color: #684029;}
#menu .active a { color: #BB9772; background-color: #684029;}

#menu #menu_r{
	width: 200px;height: 80px;
	/*border:1px #684029 dotted;*/
	margin-left: 750px;
	color:#684029 
	

}
#menu #menu_r select{
	margin-right: 20px;
	color: #684029
}
#menu #menu_r span{
	font-size: 14px;color:#684029 ;
	cursor: pointer;
	line-height: 80px;
}
#menu #menu_r span:hover{
	color: #BB9772;
}
#menu #menu_r img{
	width: 25px;height: 25px;margin-left: 1105px;margin-top: 25px;cursor: pointer;
}


.section{
position: relative;	
}
.section1 .slide img{
	width: 100%;
}
.section2 {
	background: #ebebeb;
	text-align: center;
	position: relative;
}
/*分类*/
#fenlei{
	width: 300px;height: 450px;position: absolute;top:125px;
	left: 50px;
}
#fenlei #totle_title li{
	float: left;width: 90px;height: 40px;
	line-height: 40px;text-align: center;
	background: #BB9772;
	border-radius: 15px;
	cursor: pointer;
	margin-right: 10px;
}
#fenlei #totle_title li._active{
	background:#684029 
}
#fenlei #totle_content{
	clear:both;
}
#fenlei #totle_content div{
	width: 300px;height: 410px;
	/*border:1px #684029 dotted;*/
	text-align: center; 
	display: none;
	color: black;
}
#fenlei #totle_content div._current{
	display: block;


}
#fenlei #totle_content div._current .series{
	width: 300px;
	height: 200px;
	margin-bottom: 10px;
	
}
#fenlei #totle_content div._current .series h3{
	color:#BB9772;font-size: 16px;line-height: 50px; 
}
#fenlei #totle_content div._current .series li{
	float: left;
	width: 90px;height: 50px;line-height: 50px;
	border-top:1px #684029 dotted;
	border-bottom: 1px #684029 dotted ;
	box-sizing: border-box;
	margin-right: 10px;
	font-size: 14px;
	margin-bottom: 30px;
}






/*section2右边部分*/
 .section_r {
	position: absolute;
	top: 120px;
	right: 60px;
	height: 400px;
	width: 900px;
}
.section_r .accordion {
	position:relative;
	overflow:hidden;
}
.section_r .accordion  .panel {
	background-color:#000;
	background-repeat:no-repeat;
	/*background-position:center center;*/
	position:absolute;
	overflow:hidden;
}


/*第三部分*/


/* 第四部分 */
.section4_r{
	width: 900px;height: 500px;position: absolute;right: 50px;bottom: 25px;
}
		figure{
			position: relative;
			width:23%;
			overflow: hidden;
			height:45%;
			float: left;
			margin-right: 2%;margin-bottom: 2%
		}
		figure img{
			opacity: 0.8;
			transition: all 0.35s;

		}
		figure figcaption p,h2,span,div{
			transition: all 0.35s;
			color: #fff;
		}
		figure figcaption p{font-size: 14px;}
		figure figcaption h2{font-size: 16px;}
		figcaption{
			position: absolute;
			top: 0;
			left:0;

		}
 		.test1{
			background: #2f0000;
		}
		.test1 figcaption p{
			
			color: #fff;
			margin: 5px;
			text-align: center;
			transform: translate(-200px,0px);
		}
		.test1 figcaption{
			padding: 20px;
		}
		.test1:hover figcaption p{
			transform: translate(0px,0px);
		}
		.test1 figcaption p:nth-of-type(1){
			transition-delay: 0.05s;
		}
		.test1 figcaption p:nth-of-type(2){
			transition-delay: 0.1s;
		}
		.test1 figcaption p:nth-of-type(3){
			transition-delay: 0.15s;
		}
		
		.test1:hover img{
			transform: translate(-100px,0px);
			opacity: 0.5;
		}

		.test2{
			background: #2f0000;
		
		}
		.test2 figcaption{
			width: 100%;
			height: 100%;
		}
		.test2 figcaption h2{
			margin-left: 15%;
			margin-top: 15%
		}
		.test2 figcaption p{
			margin-left: 15%;
			margin-right: 15%;
			transform: translate(0px,50px);
			opacity: 0;
			line-height: 28px;

			
		}
		.test2 figcaption div{
			border: 2px solid #fff;
			width: 80%;
			height: 80%;
			position: absolute;
			top:10%;
			left: 10%;
			transform: translate(0px,-350px) rotate(0deg);
		}
		.test2:hover figcaption div {
			transform: translate(0px,0px) rotate(360deg);
		}
		.test2:hover img{
			opacity: 0.5;
		}
		.test2:hover figcaption p{
			transform: translate(0px,0px);
			opacity: 1;
		}
		
		.test4{
			background: #2f0000;
		
		}
		.test4 figcaption{
			width: 100%;
			height: 100%;
		}
		.test4 figcaption h2{
			margin-left: 15%;
			margin-top: 15%;
			opacity: 0;
			transform: scale(1.2,1.2);
		}
		.test4 figcaption p{
			margin-left: 15%;
			margin-right: 15%;
			transform: translate(0px,50px);
			transform: scale(1.2,1.2);
			opacity: 0;
			
		}
		.test4 figcaption div{
			border: 2px solid #fff;
			width: 80%;
			height: 80%;
			position: absolute;
			top:10%;
			left: 10%;
			transform:scale(1.2,1.2);
			opacity: 0;
		}
		.test4:hover figcaption div {
			transform: scale(1,1);
			opacity: 1;
		}
		.test4:hover img{
			opacity: 0.5;
			transform:scale(1.2,1.2);
		}
		.test4:hover figcaption p{
			
			opacity: 1;
			transform: scale(1,1);
		}
		.test4:hover figcaption h2{
			opacity: 1;
			transform: scale(1,1);
		}
/*第五部分*/
.team_s{width:970px;height: 70px;margin: 0 auto;
	font-size: 14px;line-height: 35px;position: absolute;top: 120px;left: 50%;margin-left: -485px;
	color: #684029;border-top: 1px #684029 dotted;border-bottom:1px #684029 dotted ;padding: 15px;
}
.team {
	width: 1180px;
	height: 400px;
	margin: 0px auto;
	position: relative;
	top:190px;
}
.team .row {
	float: left;
}
.team .single-member {
	width: 230px;
	float: left;
	margin: 10px 2.5%;
	text-align: center;
	position: relative;
}
.team .member-image img {
	max-width: 100%;
	vertical-align: middle;
}
.team h3 {
	font-size: 24px;
	font-weight: normal;
	margin: 10px 0 0;
	text-transform: uppercase;
	color: #bb9772;
}
.team h5 {
	font-size: 16px;
	font-weight: 300;
	margin: 0 0 10px;
	line-height: 24px;
	color:#bb9772;
}
.team p {
	font-size: 12px;
	font-weight: 300;
	line-height: 22px;
	padding: 0 5px;
	margin-bottom: 10px;
	color: #bb9772;
	text-align: left;
}
.team .social-touch a {
	display: inline-block;
	width: 27px;
	height: 26px;
	vertical-align: middle;
	margin: 0 2px;
	background-image: url(../images/social-icons.png);
	background-repeat: no-repeat;
	opacity: 0.7;
	transition: 0.3s;
}
.team .social-touch a:hover {
	opacity: 1;
	transition: 0.3s;
}
.team .fb-touch {
	background-position: 0 0;
}
.team .tweet-touch {
	background-position: -35px 0;
}
.team .linkedin-touch {
	background-position: -71px 0;
}
/*= common css to all effects end =*/
/*= effect-1 css =*/
.team .effect-1 {
	border-radius: 5px 5px 0 0;
	padding-bottom: 40px;
	background:rgba(104,64,41,1);
}
.team .effect-1 .member-image {
	border: 2px solid #fff;
	border-radius: 60px 0;
	display: inline-block;
	margin-top: -72px;
	overflow: hidden;
	transition: 0.3s;
}
.team .effect-1 .social-touch {
	background: #a98251;
	position: absolute;
	left: 0;
	bottom: 0;
	height: 10px;
	overflow: hidden;
	padding: 5px 0 0;
	width: 100%;

	transition: 0.2s;
}
.team .effect-1 .member-image img {
	transition: 0.3s;
	border-radius: 60px 0;
}
.team .effect-1:hover .member-image {
	border-color: #a98251;
	transition: 0.3s;
	border-radius: 60%;
}
.team .effect-1:hover .social-touch {
	line-height: 40px;
	padding: 3px 0;
	height: 40px;
	transition: 0.3s;
}
/*= effect-1 css end =*/

/*第六部分 */
.order-info{
	/*margin-top: 70px;*/position: absolute;top:50px;right: 0px;
}

.order-info h2{
	height: 30px;
    width: 600px;
    background: #FAFAFA;
    border: 1px solid #E1E1E1;
    line-height: 30px;
    padding-left: 34px;
    font-size: 13px;
    margin-top: 28px;
    color: #684029;

}
.order-info-content{
	 overflow: hidden;
   /* margin-top: 15px;*/
    border: 1px solid #E1E1E1;
    padding: 14px 55px 32px 17px;
    background: #FAFAFA;
    margin-bottom: 10px;
    height: 480px;

}
.order-info-content .national-city{
	font-size: 14px;
	color: #B3B3B3;
	margin-left:72px;
	margin-top:-10px;
}
.order-info-content .order-info-left{
	float: left;
	width: 600px;
}
.order-info-content .order-info-right{
	/*float: left; */
	width: 310px;
}
.order-info-content .order-info-left li{
	margin-bottom: 12px;
}
.order-info-content .order-info-left input[type="text"],
.order-info-content .order-info-left select{
	height: 38px;
	width: 160px;
	padding-left: 8px;
	border:1px solid #efefef;
	font-size: 13px;
}
.order-info-content .order-info-left select{
	padding:0;
	width: 120px;
	margin-left: -4px;
	margin-right: 15px;
	outline: none;
	font-size: 13px;
}
.order-info-content .order-info-left label{
	display: inline-block;
	width: 75px;
	color: #b3b3b3;
	line-height: 40px;
	vertical-align: top;
	font-size: 13px;
}
.order-info-content .order-info-left textarea{
	width: 520px;
	height: 70px;
	border:1px solid #efefef;
	padding:5px;
	font-size: 13px;
	display: inline-block;
	margin-left: -5px;
}
.order-info-right{
	position: absolute;right: 150px;bottom: 25px
}
.order-info-right p{
	text-align: right;
	line-height: 18px;
	margin-bottom: 15px;
	font-size: 13px;
	width: 310px;
}
.order-info-right .total-amount{
	overflow: hidden;
	margin-top:3px;
}
.order-info-right .total-amount p{
	border-top: 2px solid #E2E2E2;
	width: 232px;
	display: inline-block;
	float: right;
	padding-top:15px;
}
.order-info-right .total-amount p span{
	color: #ff714d;
}
.order-info-right .last-p{
	color: #D5BFA7;
}
.total-button{
	text-align: right;
}
.total-button .button{
	background: #684029;
	height: 34px;
	width: 232px;
	color: #fff;
	cursor: pointer;
	border:none;
}
.order-info-content .order-info-left li span{
	color: #ff714d;
	margin-left: 12px;
	font-size: 13px;
	display: none;
}
.order-info-content .order-info-left li.address-list span{
	display: none;
	vertical-align: top;
	margin-top:58px;
}
.order-info-content .order-info-left li.city-list span{
	margin-left: -3px;
}
.order-info-content .order-info-left input:focus,
.order-info-content .order-info-left textarea:focus,
.order-info-content .order-info-left select:focus{
	border: 1px solid #dadada;
}

.total-button .disabled,
.total-button .disabled:hover{
	background: #BFBFBF;
	cursor: not-allowed;
}



/*第七部分 */
.last_{
	width: 1000px;height: 520px;/*border: 1px solid #000;*/margin: 80px auto;position: relative;
}
.last_ #tunecake{
	border-top: 1px #684029 dotted;border-bottom:1px #684029 dotted ;
	padding: 10px 0px;position: absolute;left: 50%;margin-left: -160px;box-sizing: border-box;
}
.last_ .cont{
	width: 300px;height: 360px;float: left;margin-top: 160px;margin-right: 33px;
	box-sizing: border-box;border-left:1px #684029 dotted;border-right: 1px #684029 dotted;padding: 0px 20px; 
}
.last_ .cont a{
	color:#684029 
}
.last_ .cont a:hover{color:#BB9772 }
.last_ .cont p:hover{color:#BB9772}
.last_ .cont2 a:hover{text-decoration:underline; }
.last_ .cont3 a:hover{text-decoration:underline; }
.last_ .cont a h5{
	width: 100px;font-size: 16px;text-align: center;
	margin-left: 90px;margin-top: 20px;border-left:1px #684029 dotted;border-right: 1px #684029 dotted;  
}
.last_ .cont  p{
	font-size: 14px;margin-top: 15px;line-height: 23px;color: #684029 ;
}
.last_ .cont3 .tubiao{width: 260px;height: 200px;padding:40px 50px;box-sizing: border-box; }
.last_ .cont3 .tubiao img{
/*	float: left;*/
	width: 50px;height: 50px;margin-right: 20px;cursor: pointer;
}
.yinsi{
	width: 100%;height: 40px;background:#684029 ;position: absolute;bottom: 20px;
	 text-align: center;font-size: 14px;line-height: 40px;color:#BB9772; 
}

